.aboutbackground {
    background-image: url('https://img.freepik.com/free-photo/large-truck-carrying-sand-platinum-mining-site-africa_181624-60189.jpg?size=626&ext=jpg&ga=GA1.2.1442964426.1687759231&semt=ais');
    background-size: cover;
    height: 500px;
    position: 'relative',
}
/* .weare1{
    background-image: url('https://images-ext-1.discordapp.net/external/ektm-aHLm-JyuwVprlaZLQuQIn7TuMtchRcDkjTrXcU/%3Fw%3D996%26t%3Dst%3D1695240984~exp%3D1695241584~hmac%3Da111e70b7bb926499385dff1daf5831f840e5e59b94b26a6c970d0e930d7b8d9/https/img.freepik.com/free-photo/close-up-construction-site-excavator_1112-1223.jpg?width=1040&height=669');
    background-size: cover;
    height: 500px;

} */
.textABOUT{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(241, 235, 235);
}
.textpABOUT{
    color: #fdfdfd;
    font-size: 40px;
    font-weight: 800;
    line-height: 55px;
  
    font-family: 'Raleway', sans-serif;
    font-variant-ligatures: common-ligatures;
    margin-bottom: 0;
}
.title{
    color: #fcc236;
    font-size: 35px;
    font-weight: 600;
    /* line-height: 55px; */
  
    font-family: 'Raleway', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.weare {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    background: #fafafa;

}

.imgabout {
    margin: 30px 30px 0 0;

    width: 100%;
    max-height: 70vh; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

@media (max-width: 375px) {
    .imgabout {
        width: 100% !important; /* Add !important to ensure this rule takes precedence */
        height: auto; /* Allow the image to adjust its height proportionally */
        object-fit: contain; /* Maintain aspect ratio while fitting within the container */
    }
}



.divabout {
    display: flex;
    flex-direction: column-reverse; /* Stack image below text on smaller screens */
    align-items: center;
    text-align: center;
    color: rgb(241, 235, 235);
}


@media (min-width: 800px) {
    .divabout {
        flex-direction: row; /* Display image and text side by side on larger screens */
        justify-content: center;
        align-items: flex-start;
    }

    .divaboutimg {
        width: auto;
        max-width: 50%; /* Adjust the image width for larger screens */
    }
}





.sectionTable{
    padding: 10px 0px 65px 0px;
    position: relative;
    display: block;


}

/* .divTable{
   
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position:relative;
    box-sizing: border-box;
    
    
} */
.alltabel{
    width: 100%;
    position: relative;

}
.tablel {
    
    border-spacing: 0px;
    font-size: inherit;
    display: table;
    background-color: transparent;
    border-collapse: collapse;
  
    clear: both;
    margin: auto;
    width: 70%; /* Adjust the width to your desired value, e.g., 80% or 800px */
    table-layout: auto;
    overflow: auto;
    text-align: center;
}

.thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: collapse;
    border-spacing: 0px;

}
.tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.container{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    box-sizing: border-box;



}
.containertext{
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    margin: 30px;


}
@media (min-width: 800px) {
    .divabout {
        flex-direction: row; /* Display image and text side by side on larger screens */
        justify-content: center;
        align-items: flex-start;
    }

    .containertext {
        width: auto;
        max-width: 40%; /* Adjust the image width for larger screens */
    }
}

.containerorganization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
  }

  .divorganization {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 100px; */
    width: 90%;
    height: 50%; /* Adjust the height as needed */
  }
  .text{
    font-size: 0.9rem ;
    font-family: 'Raleway';

}
.imgorganization {
    max-width: 100%;
    max-height: 100%;
    /* Add any additional styling for the image here */
  }


